@import "_color.scss";

.imagesline{
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  h1 {
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
  }

  .box {
    position: relative;
    text-align: center;
    color: $white;
    width: 100%;
    display: block;

  img{
    margin-top: 2%;
    position: relative;
    width: 100%;
  }
  .text{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 2em;
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: white;
      transform: translate(-50%, -50%);
      font-weight: lighter;
      font-family: 'Roboto', sans-serif;
     }
  }
}
 /*}*/
@media screen and (min-width: 685px ){

  .imagesline{
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 1000px;
    margin-top: 5%;
    margin-bottom: 5%;
    h1 {
      font-weight: lighter;
      font-family: 'Roboto', sans-serif;
    }

    .box {
      position: relative;
      display: inline-block;
      color: $white;
      width: 45%;
      margin: auto;
      margin: 2%;

    img{
      margin: 2%;
      position: relative;
      width: 100%;
    }
    .text{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 2em;
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: white;
        transform: translate(-50%, -50%);
        font-weight: lighter;
        font-family: 'Roboto', sans-serif;
       }
    }
  }
}
@media screen and (min-width: 1080px) {

  .imagesline{
    width: 95%;
    height: auto;
    min-height: 700px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    h1 {
      font-weight: lighter;
      font-family: 'Roboto', sans-serif;
    }

    .box {
      position: relative;
      color: $white;
      width: 31%;
      max-width: 500px;
      margin: auto;
      margin: 1%;
      display: inline-block;

    img{
      margin: 2%;
      position: relative;
      width: 100%;
    }
    .text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: white;
        font-weight: lighter;
        font-family: 'Roboto', sans-serif;
       }
    }
  }
  }
