@import "color.scss";

.info{
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 4%;
  border-bottom: 1px solid $black;
  font-weight: lighter;
}

#down {
  margin-bottom: 25px;
}

.contact{
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
  border-bottom: 1px solid $black;
  height: 250px;
  font-size: 14px;
  position: relative;
  h4 {
    font-weight: lighter;
  }
}

.persons{
  float: right;
  position: relative;
  /*width: 25%;*/
  height: 220px;
}

@media screen and (min-width: 685px) {
  .wrapper {
    margin: auto;
    width: 90%;

  .info{
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 1%;
    border-bottom: 1px solid $black;
    font-weight: lighter;
  }

  #down {
    margin-bottom: 50px;
  }

  .contact{
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1px solid $black;
    height: 300px;
    font-size: 14px;
    position: relative;
    h4 {
      font-weight: lighter;
    }
  }

  .persons{
    float: right;
    position: relative;
    /*width: 15%;*/
    height: 270px;
  }
  }
}
@media screen and (min-width: 1020px) {
  .wrapper {
    margin: auto;
    width: 90%;
    max-width: 1080px;

  .info{
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 1%;
    border-bottom: 1px solid $black;
    font-weight: lighter;
  }

  #down {
    margin-bottom: 50px;
  }


  .contact{
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1px solid $black;
    height: 350px;
    font-size: 14px;
    position: relative;
    h4 {
      font-weight: lighter;
    }
  }

  .persons{
    float: right;
    position: relative;
  /*  width: 20%;*/
    height: 320px;
  }
  }
}
