@import "_menu.scss";
@import "_color.scss";
@import "_aktivitet.scss";
@import "_aktiviteter.scss";
@import "_index.scss";
@import "_galleri.scss";
@import "_kontakt.scss";
@import "_underside-galleri.scss";

*{
  box-sizing:border-box;
}

html {

}

body{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

footer {
  background-color: $black;
  left: 0 ; right: 0; bottom: 0;
  height: 210px;
  color: $white;
  font-weight: lighter;

  .f_left {
    float: left;
    margin: 20px;
    h5 {
      margin: 0;
      margin-bottom: 15%;
      margin-top: 10%;
      padding: 0;
      font-style: thin;
      font-weight: bolder;
      font-size: 1.5em;
    }
    p {
      margin: 0;
      padding: 0;
      font-style: thin;
      font-weight: lighter;
      font-size: 0.9em;
      line-height: 2em;
    }
  }
  .f_right {
    float: right;
    margin: 39% 5% 20px 20px;
    a {
      color: $white;
      padding: 10px;
      font-size: 2em;
    }
  }
  #map {
    display: none;
  }
}

@media screen and (min-width: 685px) {

  footer {
    background-color: $black;
    left: 0 ; right: 0; bottom: 0;
    height: 210px;
    color: $white;
    font-weight: lighter;

    .f_left {
      float: left;
      margin-top: 33px;
      margin-bottom: 0;
      h5 {
        margin: 0;
        margin-bottom: 15%;
        margin-top: 10%;
        padding: 0;
        font-style: thin;
        font-weight: bolder;
        font-size: 1em;
      }
      p {
        margin: 0;
        padding: 0;
        font-style: thin;
        font-weight: lighter;
        font-size: 0.9em;
        line-height: 1.5em;
      }
    }
    .f_right {
      float: right;
      margin-top: 151px;
      margin-bottom: 0;
      a {
        color: $white;
        padding: 10px;
        font-size: 2em;
      }
    }
    #map {
      display: initial;
      position: absolute;
      margin: auto;
      margin-top: 20px;
      right: 25%;
      left: 25%;
      width:50%;
      height:170px;
    }
  }
}
