@import "color.scss";

h1 {
  text-align: center;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}
#kultur, #nabo, #urban, #parken {
min-height: 700px;
}
#eid {
  min-height: 350px;
}
.images{
  position: relative;
  width: 100%;
  min-height: 1450px;
  margin-bottom: 2%;
  img{
    margin-top: 2%;
    position: relative;
    width: 100%;
  }
 }
@media screen and (min-width: 685px) {

  #kultur, #nabo, #urban, #parken {
  min-height: 700px;
  }
  #eid {
    min-height: 350px;
  }
  .images{
    position: relative;
    width: 95%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin: auto;
    img{
      margin: auto;
      margin: 1%;
      position: relative;
      display: inline-block;
      width: 45%;
    }
   }
}
@media screen and (min-width: 1080px) {
  h1 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
  }
  #kultur, #nabo, #urban, #parken {
  min-height: 700px;
  }
  #eid {
    min-height: 350px;
  }
  .images{
    position: relative;
    width: 95%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin: auto;
    img{
      margin: auto;
      margin: 1%;
      position: relative;
      display: inline-block;
      width: 30%;
    }
   }
}
